.row.text-center
  .col-xs-10
    h2 Based on our research and your Internet usage patterns, we recommend at least:
    h3 23
    .mbps Mbps
    button.zip
      img.button-img(src="http://www.highspeedinternet.com/includes/highspeedinternet/hmsdin/images/logo.svg")
      span Find speeds near you.
    .restart(ui-sref="home") << start over
    .share
      ul
        li
          button.facebook
        li
          button.twitter
        li
          button.pinterest
