.row.text-center
  .col-xs-10
    h1 How much Internet speed do I need?
.row.text-center
  .col-xs-12
    p.subtitle Just tell us how you use the Internet and we'll recommend an appropriate Internet speed.
    button.fullBtn(ui-sref="page1") Let's Go

